@use "base/variables" as v;
@use "base/mixins" as m;

.header {
  @include m.bgIntro;
  border-radius: 0 0 0 7.5rem;
  max-width: 144rem;
  position: relative;
  // overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/bg-pattern-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position: -32.5rem -32.5rem;
    // background-size: contain;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 0 7.5rem;

    @include m.medium {
      background-image: url("../img/bg-pattern-intro-desktop.svg");
      background-position: -100rem -125rem;
    }

    @include m.large {
      background-position: -85rem -130rem;
    }
  }

  &__container {
    position: relative;
    padding: 5.5rem 2.5rem 15.5rem;

    @include m.medium {
      padding: 6rem 2.5rem 15rem;
    }

    @include m.large {
      padding: 6rem 10rem 15rem;
    }
  }

  &__navegation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include m.medium {
      flex-wrap: nowrap;
      justify-content: flex-start;
      gap: 2.5rem;
    }

    @include m.large {
      gap: 6.5rem;
    }
  }

  &__logo {
    height: 3rem;
    width: 8.5rem;
    object-fit: contain;

    @include m.medium {
      height: 5rem;
      width: 10rem;
    }
  }

  &__button {
    border: none;

    @include m.medium {
      display: none;
    }
  }

  &__icon {
    width: 3.5rem;
    height: 3rem;
    object-fit: contain;
  }

  &__content {
    padding: 5rem 1.5rem 0;

    @include m.medium {
      padding: 14rem 6rem 0;
    }
  }

  &__heading {
    color: v.$white;
    text-align: center;
    margin: 0;

    @include m.medium {
      font-size: 4.4rem;
    }
  }

  &__text {
    text-align: center;
    color: v.$white;
    line-height: 1.5;
    margin: 2.5rem 0;
  }

  &__information {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    @include m.medium {
      gap: 2rem;
    }
  }

  &__link {
    padding: 1.5rem 2rem;
    border-radius: 10rem;
    border: solid 0.1rem v.$white;
    font-weight: 700;
    margin-top: 2.5rem;

    @include m.medium {
      margin-top: 2rem;
    }

    @include m.large {
      margin-top: 2.5rem;
    }

    &:first-of-type {
      color: v.$lightRed;
      background-color: v.$white;

      @include m.medium {
        transition: color 350ms ease, background-color 350ms ease,
          border-color 350ms ease;
      }
      &:hover {
        @include m.medium {
          color: v.$white;
          background-color: v.$lightRed;
          border-color: v.$lightRed;
        }
      }
    }

    &:last-of-type {
      color: v.$white;
      background-color: transparent;

      @include m.medium {
        padding: 1.5rem 2.5rem;
        transition: color 350ms ease, background-color 350ms ease;
      }

      &:hover {
        @include m.medium {
          background-color: v.$white;
          color: v.$lightRed;
        }
      }
    }
  }
}

.menu {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 5rem;
  background-color: v.$white;
  border-radius: 1rem;
  // display: none;
  height: 0;
  pointer-events: none;
  overflow: hidden;
  box-shadow: 2px 0px 12px -2px rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;

  @include m.medium {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: unset;
    pointer-events: auto;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    overflow: visible;
  }

  &__boxes {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include m.medium {
      flex-direction: row;
      gap: 3rem;
    }
  }

  &__box {
    @include m.medium {
      position: relative;
    }
  }

  &__box,
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 2rem;
    color: v.$veryDarkBlue;
    font-weight: 500;

    @include m.medium {
      color: v.$white;
      padding: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__arrow {
    transition: transform 350ms ease;
  }

  &__links {
    // display: none;
    flex-direction: column;
    gap: 2.5rem;
    // padding: 2.5rem 0;
    width: 100%;
    border-radius: 0.5rem;
    height: 0;
    overflow: hidden;
    pointer-events: none;

    transition: all 350ms ease;

    background-color: lighten(v.$grayishBlue, 15);

    @include m.medium {
      position: absolute;
      align-items: flex-start;
      gap: 2rem;
      width: 11rem;
      top: 3rem;
    }
  }

  &__link {
    color: v.$veryDarkGrayishBlue;
    font-weight: 500;

    @include m.medium {
      font-weight: lighter;
      transition: font-weight 300ms ease;
    }

    &:hover {
      font-weight: bolder;
    }
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
    padding: 1.5rem 0 0;

    border-top: solid 0.1rem v.$grayishBlue;

    @include m.medium {
      flex-direction: row;
      gap: 3rem;
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  &__register {
    &:first-of-type {
      padding: 1.5rem 0;

      @include m.medium {
        color: v.$white;

        &:hover {
          font-weight: unset;
          text-decoration: underline;
        }
      }
    }

    &:last-of-type {
      color: v.$white;
      @include m.bgIntro;
      padding: 1.5rem 4rem;
      border-radius: 10rem;

      @include m.medium {
        color: v.$lightRed;
        background: none;
        background-color: v.$white;
        font-weight: bolder;
        transition: color 350ms ease, background-color 350ms ease;

        &:hover {
          color: v.$white;
          background-color: v.$lightRed;
        }
      }
    }
  }
}

// Active classes
.active-main-menu {
  // display: block;
  padding: 3rem 2.5rem;
  height: auto;
  pointer-events: auto;
}

.active-submenu {
  height: auto;
  padding: 2.5rem 0;
  pointer-events: auto;

  @include m.medium {
    padding: 3.5rem 0.75rem;
  }
}

.up-arrow {
  transform: rotate(180deg);
}
