@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  padding: 7.5rem 0 8rem;
  background-color: v.$veryDarkBlackBlue;

  @include m.medium {
    padding: 7rem 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;

    @include m.medium {
      grid-template-columns: repeat(4, 1fr);

      // Max-width 144rem
      @include m.maxWidth;
    }
  }

  &__logo {
    width: 10rem;
    height: 4.5rem;
    object-fit: contain;
  }

  &__heading {
    margin: 4rem 0;
    text-align: center;
    color: v.$white;

    @include m.medium {
      text-align: left;
      margin: 1rem 0 4rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include m.medium {
      align-items: flex-start;
    }
  }

  &__link {
    color: v.$grayishBlue;

    &:hover {
      text-decoration: underline;
    }
  }

  &__attribution {
    text-align: center;
    margin: 0 auto;
    padding: 5rem 2.5rem 0;
    color: v.$white;

    @include m.medium {
      // Max-width 144rem
      @include m.maxWidth;
    }
  }

  &__front,
  &__author {
    color: v.$lightRed;
    font-weight: 700;
  }
}
