@use "base/variables" as v;
@use "base/mixins" as m;

.designed {
  padding: 5rem 0;

  @include m.medium {
    padding: 8rem 0 0;

    // Max-width 144rem
    @include m.maxWidth;
  }

  &__heading,
  &__title,
  &__text {
    text-align: center;
  }

  &__heading {
    margin: 5rem 0;

    @include m.medium {
      font-size: 3.4rem;
      margin-top: 8rem 0;
    }

    @include m.large {
      margin: 8rem 0 -12rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-rows: 32.5rem 1fr;

    @include m.medium {
      grid-template-rows: unset;
      grid-template-columns: repeat(2, 1fr);
      margin-top: -10rem;
    }

    // Large
    @include m.large {
      margin: 0;
    }
  }

  &__content {
    grid-row: 2 / 3;
    padding: 0 3.5rem;

    @include m.medium {
      grid-row: auto;
      grid-column: 1 / 2;
    }

    @include m.large {
      padding: 0 10rem;
      padding-right: 2.5rem;
    }

    @include m.extraLarge {
      padding-left: 16rem;
      padding-right: 4rem;
    }
  }

  &__title {
    font-size: 2.4rem;
    margin: 5rem 0 2.5rem;
    line-height: 1.25;

    @include m.medium {
      text-align: left;
      margin: 9rem 0 3rem;
    }

    &--mt-24 {
      @include m.large {
        margin: 24rem 0 3rem;
      }
    }

    &--mt-8 {
      @include m.large {
        margin: 8rem 0 3rem;
      }
    }
  }

  &__text {
    line-height: 1.5;
    margin: 0;

    @include m.medium {
      text-align: left;
    }

    @include m.extraLarge {
      line-height: 1.8;
    }

    &--mb-20 {
      @include m.large {
        margin-bottom: 20rem;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include m.medium {
      grid-column: 2 / 3;
      object-fit: cover;
      object-position: left 0rem;
    }

    @include m.maxLarge {
      object-position: 6.5rem;
    }
  }
}
