@use "base/variables" as v;
@use "base/mixins" as m;

.info {
  padding: 8rem 0 10rem;

  @include m.medium {
    padding: 0 0 12rem;

    // Max-width 144rem
    @include m.maxWidth;
  }

  &__grid {
    @include m.medium {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__content {
    padding: 0 2.5rem;

    @include m.extraLarge {
      padding-left: 3rem;
      padding-right: 18rem;
    }
  }

  &__heading,
  &__text {
    text-align: center;
    line-height: 1.5;
  }

  &__heading {
    margin: 5rem 0 3.5rem;

    @include m.medium {
      text-align: left;
    }

    &--mt-19 {
      @include m.large {
        margin: 19rem 0 3rem;
      }
    }

    &--mt-8 {
      @include m.large {
        margin: 8rem 0 4rem;
      }
    }
  }

  &__text {
    margin: 0;

    @include m.medium {
      text-align: left;
    }

    @include m.extraLarge {
      line-height: 1.8;
    }

    &:nth-last-of-type() {
      margin-bottom: 5rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include m.medium {
      object-fit: cover;
      object-position: right;
    }

    @include m.maxLarge {
      object-position: -29.5rem;
    }
  }
}

.info__text--mb-19 {
  @include m.large {
    margin-bottom: 19rem;
  }
}
