@use "base/variables" as v;
@use "base/mixins" as m;

.state {
  position: relative;
  padding: 5rem 0 6rem;

  &::before {
    content: "";
    position: absolute;
    @include m.bgBodyMb;
    top: 20rem;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 10rem 0 10rem;

    @include m.medium {
      @include m.bgBody;
      top: 10rem;
      bottom: 12.5rem;
    }

    @include m.extraLarge {
      bottom: 20rem;
      top: 15rem;
    }
  }

  &__grid {
    position: relative;

    @include m.medium {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/bg-pattern-circles.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center -25rem;
      top: 15rem;
      left: 0;
      right: 0;
      bottom: -6rem;
      border-radius: 0 10rem 0;

      @include m.medium {
        background-position: -18rem -26rem;
        top: 5rem;
        left: 0;
        right: 0;
        bottom: 6.5rem;
      }

      @include m.large {
        right: 10rem;
        background-position: -25rem -40rem;
      }

      @include m.extraLarge {
        top: 10rem;
        right: 30rem;
        bottom: 14rem;
        background-position: -25rem -55rem;
      }
    }
  }

  &__image {
    position: relative;
    height: 35rem;
    width: 100%;
    object-fit: contain;

    @include m.medium {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    padding: 5rem 3rem 6rem;

    @include m.extraLarge {
      padding: 5rem 0 6rem;
      padding-right: 17rem;
      padding-left: 6rem;
    }
  }

  &__heading,
  &__text {
    text-align: center;
    line-height: 1.5;
    color: v.$white;
  }

  &__heading {
    font-size: 3.4rem;
    margin: 0 0 3.5rem;

    @include m.medium {
      text-align: left;
      padding: 2.5rem 0 0;
      margin: 0;
    }
  }

  &__text {
    margin: 0;

    @include m.medium {
      padding: 2.5rem 0;
      text-align: left;
    }

    @include m.extraLarge {
      line-height: 1.5;
    }
  }
}
